<% @post.comments.each do |comment| %>
<tr>
	<td> <%= comment.author %> &nbsp;</td>
	<td><%= comment.body%> &nbsp;</td>
	<td><%= link_to "Delete Comment", "/posts/#{@post.id}/comments/#{comment.id}", :method => :delete%> &nbsp;</td>
</tr>
<% end %>
