<h1>Listing posts</h1>

<ul> 

	<% @posts.each do |post| %>
	    <li id='post_<%= post.id %>'><%= post.title %><%= link_to "Delete this Post", post, :method => 'delete'%></li>
	<% end %>
</ul>

<%= link_to 'New Post', new_post_path %>
