// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #000000;
$orange: #D04000;
$blue: #2CA2AF;
$margin: 16px;

.content-navigation {
  border-color: $black;
  color:
    darken($black, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $black;
}

h1 {
  border-color: $blue;	
  color:
    darken($blue, 9%);
}

h3 {
  border-color: $blue;	
  color: $blue;
}
